body {
	background: url("../images/Starsinthesky.jpg");
	font-size: 24px;
	line-height: 34px;
	font-family: Helvetica, sans-serif;
} 
h1 {
	color: white;
	font-size: 60px;
	margin-left: 33%;
}

#clockdiv {
	font-size: 60px;
	color: blue;
}

div {
    width: 50%;
    height: 15%;
    padding: 20px;
    margin: 10px;
    margin-left: 20%;
    background: white;
    opacity: 0.7;
    border-radius: 25px;
}

#questions {
	margin-right: 25%;
}